@(message: String)

@main("Adicione seus Jogos") {

<div class="cont row-fluid">
	
	<div class="row-fluid name_pg shb lebr"><h1> Cadastro Jogos </h1></div>
	
	<div class="row-fluid app_part shb">
		<form method="POST" action="#">
			<div class="row-fluid">
				<label class="span3">
					Jogo:<br/>
					<input type="text" name="nome" required>
				</label>
				<label class="span3">
					Finalizado em:<br/>
					<input type="text" name="desenv" required>
				</label>
				<label class="span3">
					Nota de 0 a 10:<br/>
					<input type="text" name="nota" required>
				</label>
				<label class="span3">
					Genero:<br/>
					<input type="text" name="genero" required>
				</label>
			</div>
	
			<div class="row-fluid">
				<label class="span9">
					Escreva o que achou do Jogo:<br/>
					<textarea name="comentario"></textarea>
				</label>
				<label class="span3">
					<input type="submit" class="envJo" value="Cadastrar">
				</label>
			</div>
		</form>
	</div>
</div> 

}
