@(message: String)

@main("Catalogo de Jogos") {
<script src="@routes.Assets.at("javascripts/code.js")" type="text/javascript"></script>
<div class="cont row-fluid">
	<div class="row-fluid name_pg shb lebr"><h1> Catalogo </h1></div>
	
	<div class="row-fluid app_part shb">
		<div class="span3 pedidos_item shb">
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span12 pedidos_item_things oran">As montanhas perdidas de nowhere</div>
					</div><br/>
					<div class="row-fluid">
						<div class="span6 pedidos_item_things oran">Nota</div>
						<div class="span6 pedidos_item_things oran">Genero</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

}
