@(gameForm: Form[models.Game])

@main("Welcome to Play 2.0") {

    <script src='@routes.Assets.at("javascripts/index.min.js")' type='text/javascript'></script>

    


    @helper.form(action = routes.Application.create) {

        @gameForm.globalError.map { error =>
            <span class="error">@error.message</span>
        }
          
          @helper.inputText(gameForm("nome"))
          @helper.textarea(gameForm("descricao"))
          @helper.inputText(gameForm("finalizado"))
          @helper.inputText(gameForm("nota"))
          @helper.inputText(gameForm("genero"))
          
            <button type="submit" >Create Product</button>
      }

}
