@(form: String)

@main("Welcome to Play 2.0") {

    <script src='@routes.Assets.at("javascripts/index.min.js")' type='text/javascript'></script>

    <ul id="bars"></ul>

    <form method="POST" action="/games">
        <input type="text" placeholder="Nome:" name="nome">
        <input type="text" placeholder="Finalizado em:" name="finalizado" required>
		<input type="text" placeholder="Nota:" name="nota" required>
		<input type="text" placeholder="Genero" name="genero" required>
		<textarea name="comentario"></textarea>

        <input type="submit"/>
    </form>

}
