@(listJogos: List[GameDB])

@main("Adicione seus Jogos") {

<script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>

<div class="row-fluid name_pg shb lebr"><h1> Seus Jogos </h1></div>
	
	<div class="row-fluid app_part shb">

	<div class="row-fluid">
	
	@listJogos.map{i =>

		<div class="span3 pedidos_item shb">
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span12 pedidos_item_things oran">@i.nome</div>
					</div>
					<div class="row-fluid">
						<textarea class="span12" name="resenha" readonly>@i.descricao</textarea>
					</div>
					<div class="row-fluid">
						<div class="span6 pedidos_item_things oran oran">@i.nota</div>
						<div class="span6 pedidos_item_things oran">@i.finalizado</div>
					</div>
				</div>

		</div>


	</div>
	
	<!--<script>
		if(0 % 4 === 0) {
			window.document.write("</div> <div class='row-fluid'>")
		}
	</script>-->
	
}

</div>



}
